extends layout

 

block content

  h1= title

 

  form(id='EarringForm', action="/resource/earrings", method="POST")

    div.form-group

        label.EarringAttr(for='type') Earring Type 

        input#type(type='text',class="form-control", name='type')

    div.form-group

        label.EarringAttr(for='size') Earring Size

        input#size(type='text',class="form-control", name='size')

    div.form-group

        label.EarringAttr(for='set') Earring Set

        input#sett(type='number',class="form-control", name='set')

    input(type="submit" class="btn btn-danger m-2")
  script.

    document.forms['EarringForm'].addEventListener('submit', (event) => {

      event.preventDefault();

      // TODO do something here to show user that form is being submitted

      fetch(event.target.action, {

        method: 'POST',

        body: new URLSearchParams(new FormData(event.target)) // event.target is the form

      }).then((resp) => {

        return resp.json(); // or resp.text() or whatever the server sends

      }).then((body) => {

        alert("Save succeded")

        // TODO handle body

      }).catch((error) => {

        // TODO handle error

        alert("Save failed " + error )

      });

    });

  
